/* -----BASE----- */

body {
    background-color: lightgray;
}

.app-container {
    max-width: 980px;
    margin: 0 auto;
}

/* -----MAP----- */

.map-container {
    max-width: 50%;
}

.my-loc-btn {
    cursor: pointer;
}

/* -----HELPERS----- */

.flex {
    display: flex;
}
.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}